<div class="main_content">
  <div class="main_content_header">Акции</div>
  <div class="main_content_left">
    <ul class="news_events_list">
      <li *ngFor="let campaign_unit of campaign; let i = index" (click)="changeCurrentCampaign(campaign_unit,i)" [class.active]="activeBlock===i">
        <div class="news_event_name">{{campaign_unit.name}}</div>
        <div class="news_event_short">{{campaign_unit.shortCampaign}}</div>
      </li>
    </ul>
  </div>
  <div class="main_content_right">
    <div *ngIf="currentCampaign">
      <app-campaign-content-unit [campaign]="currentCampaign"></app-campaign-content-unit>
    </div>
  </div>
</div>
