<form [formGroup]="orderForm"></form>
  <div class="form-group">
    <p class="admin_content_block_label">Выберите бренд</p>
    <select name="" id="brands" (change)="salesAreaChoosen($event.target.value)">
      <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="products">
    <p class="admin_content_block_label">Выберите продукт</p>
    <select name="" id="products" (change)="productChoosen($event.target.value)">
      <option *ngFor="let product of products" value="{{product.id}}">{{product.name}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="currentProduct">
    <p class="admin_content_block_label">Цена</p>
    <input type="number" [ngModel]="currentProduct.price" >
  </div>
  <div class="form-group" *ngIf="currentProduct">
    <p class="admin_content_block_label">Кол-во</p>
    <input type="number" [(ngModel)]="currentQty" (change)="calculateAmount()">
  </div>
  <div>Текущая сумма: {{amount}}</div>



