<ul class = "footer_nav">
  <li><a routerLink="contacts" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Контакты</a></li>
  <li><a routerLink="about_us" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">О нас</a></li>
  <li *ngIf="adminLoggedIn"><a routerLink="admin" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Админка</a></li>
  <li *ngIf="userLoggedIn"><a routerLink="profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Профиль</a></li>
</ul>
<div class="footer_content">
  <div class="footer_content_copyright_dilers">
    <div class="footer_copyright">
      &copy;Торговый Дом Марафон 2019
    </div>
    <div class="footer_dilers">
      Торговый Дом Марафон - официальный дилер:
        <a *ngFor="let brand of brands" href="{{brand.web}}">{{brand.name}}, </a>
    </div>
  </div>
  <div class="footer_content_branches">
    <div *ngFor="let branch of branches" class="footer_content_branch">
        <div class="footer_branch_address" *ngIf="branch.active">{{branch.role}}: {{branch.address}}</div>
        <div class="footer_branch_phone" *ngIf="branch.active">Тел.: {{branch.phone}}</div>
    </div>
  </div>
  <div class="footer_content_address_print">
    г. Днипро, ул. Б. Хмельницкого, 16, офис 205
  </div>
</div>
