<ul class="admin_nav">
    <li><a routerLink="news" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Новости</a></li>
    <li><a routerLink="campaign" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Акции</a></li>
    <li><a routerLink="products" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция</a></li>
    <li><a routerLink="building_objects_clients" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Объекты и клиенты</a></li>
    <li><a routerLink="solutions" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Готовые решения</a></li>
    <li><a routerLink="sale_products" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция для заказов</a></li>
    <li><a routerLink="clients" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Клиенты</a></li>
</ul>

