@import "../../../../../../../../../common";
:host {
  width: 100%;
}
.grout_calc_main{
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  .grout_calc_header{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: @main_left_side_list;
    font-family: 'Oswald', sans-serif;
  }
  .grout_calc_form{
    display: inline-flex;
    flex-flow: column nowrap;
    width: 100%;
    .form-group{
      width: 100%;
      align-items: center;
      .grout_calc_input{
        padding: 5px;
        color: #505050;
      }
      .grout_calc_label{
        font-family: 'Scada', sans-serif;
        color: @main_left_side_list;
        font-size: smaller;
      }
    }
  }
}

