@link_color: #489be3;
@link_color_hover: #417dbe;
@active_main_nav_link_color: #325c8e;
@messages_color: #489be3;
@admin_label_header_color: rgb(71, 149, 220);

/*bgc*/

@main_bgc: #fafafa;
@main_nav_bgc: #fff;

/*buttons*/

@admin_button_background:  #325c8e;
@admin_button_color: #fff;
@admin_button_background_hover: #4687cd;

/* Main content */
/*bgc*/
@main_left_side_list_hover_bgc: #1760a5;
/*border*/
@main_border: #124071;
@main_content_border: #E1F1FF;
/* font color */
@main_left_side_list: #1760a5;
@main_left_side_list_hover_color: white;
@main_left_side_list_short: #1760a5;
@main_right_side_date: grey;



