<div class="main_nav">
  <ul>
    <li><a routerLink="news" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Новости</a></li>
    <li><a routerLink="campaign" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Акции</a></li>
    <li><a routerLink="production_by_applying" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция по применению</a></li>
    <li><a routerLink="production_by_brand" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Продукция по брендам</a></li>
    <li><a routerLink="building_objects" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Объекты</a></li>
    <li><a routerLink="solutions" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Готовые решения</a></li>
    <li><a routerLink="tech_info" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Техническая информация</a></li>
    <li><a routerLink="order" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Сформировать заказ</a></li>
  </ul>
</div>
