<div class="admin-appl-brand-content">
  <div class="admin_block_header_small">
    Добавление-изменение брендов и групп.
  </div>
  <div class="info_message" *ngIf="onSubmitResponse">{{onSubmitResponse}}</div>

  <!-- Brands -->

  <div class="admin-appl-brand-content_forms">

  <div class="admin-appl-brand-content-unit">
    <form [formGroup]="addChangeBrand" (ngSubmit)="brandFormOnSubmit()">
      <div class="form-group">
        <p class="admin_content_block_label">Список всех брендов, выберите, если хотите изменить</p>
        <select name="" id="brands" formControlName = "brands">
          <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <p class="admin_content_block_label">Выберите сферу применения.</p>
        <select name="" id="sales_areas" formControlName = "salesArea">
          <option *ngFor="let sales_area of salesAreas" value="{{sales_area.id}}">{{sales_area.name}}</option>
        </select>
        <div class="validation_error"
             *ngIf="addChangeBrand.get('salesArea').getError('required') &&
                (addChangeBrand.get('salesArea').dirty || addChangeBrand.get('salesArea').touched)">
          Выберите пожалуйста сферу применения.
        </div>
      </div>

      <div class="form-group">
      <p class="admin_content_block_label">Введите название нового бренда, который вы хотите добавить</p>
      <input type="text" id="name" formControlName = "name">
      <div class="validation_error"
           *ngIf="addChangeBrand.get('name').getError('required') &&
                (addChangeBrand.get('name').dirty || addChangeBrand.get('name').touched)">
        Введите пожалуйста название бренда.
      </div>
    </div>

      <div class="form-group" *ngIf="whatHaveToDo==='update'">
        <p class="admin_content_block_label">Поставьте "галочку", если бренд "активный"</p>
        <input type="checkbox" id="active" formControlName = "active">
      </div>

      <div class="admin_content_button_block">
        <div *ngIf="addChangeBrand.valid">
          <button type="submit" *ngIf="whatHaveToDo==='add'">Добавить бренд</button>
        </div>
        <div *ngIf="addChangeBrand.valid">
          <button type="submit" *ngIf="whatHaveToDo==='update'">Обновить бренд</button>
        </div>
        <div>
          <button type="submit" (click)="clearBrandFields($event)">Очистить поля</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Appl groups -->

  <div class="admin-appl-brand-content-unit">
    <form [formGroup]="addChangeApplGroup" (ngSubmit)="addChangeApplGroupOnSubmit()">
      <div class="form-group">
        <p class="admin_content_block_label">Список всех групп по-применению, выберите, если хотите изменить</p>
        <select name="" id="groups" formControlName = "groups">
          <option *ngFor="let group of applGroups" value="{{group.id}}">{{group.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <p class="admin_content_block_label">Выберите сферу применения.</p>
        <select name="" id="apl_sales_areas" formControlName = "salesArea">
          <option *ngFor="let sales_area of salesAreas" value="{{sales_area.id}}">{{sales_area.name}}</option>
        </select>
        <div class="validation_error"
             *ngIf="addChangeBrand.get('salesArea').getError('required') &&
                (addChangeBrand.get('salesArea').dirty || addChangeBrand.get('salesArea').touched)">
          Выберите пожалуйста сферу применения.
        </div>
      </div>

      <div class="form-group">
        <p class="admin_content_block_label">Введите название группы, которую вы хотите добавить</p>
        <input type="text" id="appl_name" formControlName = "name">
        <div class="validation_error"
             *ngIf="addChangeApplGroup.get('name').getError('required') &&
                (addChangeApplGroup.get('name').dirty || addChangeApplGroup.get('name').touched)">
          Введите пожалуйста название группы.
        </div>
      </div>
      <div class="admin_content_button_block">
        <div *ngIf="addChangeApplGroup.valid">
          <button type="submit" *ngIf="whatHaveToDo==='add'">Добавить группу</button>
        </div>
        <div *ngIf="addChangeApplGroup.valid">
          <button type="submit" *ngIf="whatHaveToDo==='update'">Обновить группу</button>
        </div>
        <button type="submit" (click)="clearApplGroupields($event)">Очистить поля</button>
      </div>
    </form>
  </div>
  </div>
</div>
