<div class="admin_unit_block">
  <div class="admin_block_header">В данном блоке вы можете изменять существующие или добавлять новые готовые решения на сайт</div>
  <div class="admin_left_list_block">
    <div *ngFor="let solution of solutions">
      <div class="admin_left_list_unit_block">
        <div class="admin_left_list_unit_name" (click)="fillInSolution(solution)">{{solution.name}}</div>
      </div>

    </div>
  </div>
  <div class="add_block">
    <div class="add_block_unit">
      <form class="admin_content_form" [formGroup]="addChangeSolutionForm" (ngSubmit)="onSubmit()">

        <div class="info_message" *ngIf="onSubmitResponse">{{onSubmitResponse}}</div>

        <div class="form-group">
          <p class="admin_content_block_label">Введите название готового решения</p>
          <input class="admin_content_input" type="text" id="name" formControlName = "name" appInputChangeWidth>
          <div class="validation_error"
               *ngIf="addChangeSolutionForm.get('name').getError('required') &&
                (addChangeSolutionForm.get('name').dirty || addChangeSolutionForm.get('name').touched)">
            Введите пожалуйста название готового решения.
          </div>
        </div>

        <div class="form-group" *ngIf="choosenImg">
          <img class="choosenImg" src="{{choosenImg.path}}" alt="">
        </div>

        <div class="form-group">
          <p class="admin_content_block_label">Выберите картинку для готового решения</p>
          <p class="admin_content_block_label_small">*Если картинка не будет выбрана, то будет установлена картинка по-умолчанию</p>
          <button class="admin-btn" (click)="imagesPickerShow($event)">Выберите картинку готового решения</button>
        </div>

        <div class="form-group">
          <p class="admin_content_block_label">Введите описание готового решения</p>
          <angular-editor formControlName="desc" [config]="config" style="background-color: white"></angular-editor>
          <div class="validation_error"
               *ngIf="addChangeSolutionForm.get('desc').getError('required') &&
                (addChangeSolutionForm.get('desc').dirty || addChangeSolutionForm.get('desc').touched)">
            Добавьте пожалуйста описание готового решения.
          </div>
        </div>

        <div class="form-group" formArrayName="items">
          <label>Перечислите пункты, которые указаны на картинке готового решения:</label>
          <div class="form-group-unit"
               *ngFor="let item of addChangeSolutionForm.controls.items.controls; let i = index">
            <div class="form-group-unit-input-btn-block">
              <input formControlName = "{{i}}">
              <button class="wnd-btn remove" (click)="DelItem(i,$event)">-</button>
            </div>

          </div>
          <button class="wnd-btn add" (click)="AddItem($event)">+</button>
        </div>

        <div class="form-group" formArrayName="products">
          <label>Материалы, которые используются в готовом решении:</label>
          <div class="form-group-unit"
               *ngFor="let product of addChangeSolutionForm.controls.products.controls; let i = index">
            <div class="form-group-unit-input-btn-block">
              <select name="" id="products" formControlName = "{{i}}">
                <option *ngFor="let product of products" value="{{product.id}}">{{product.name}}</option>
              </select>
              <button class="wnd-btn remove" (click)="DelProduct(i,$event)">-</button>
            </div>
          </div>
          <button class="wnd-btn add" (click)="AddProduct($event)">+</button>
        </div>

        <div class="admin_content_button_block">
          <div *ngIf="addChangeSolutionForm.valid">
            <button class="admin-btn" type="submit" *ngIf="whatHaveToDo==='add'">Добавить решение</button>
          </div>
          <div *ngIf="addChangeSolutionForm.valid">
            <button class="admin-btn" type="submit" *ngIf="whatHaveToDo==='update'">Обновить информацию</button>
          </div>
          <button class="admin-btn" type="submit" (click)="clearFields($event)">Очистить поля</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-images-picker></app-images-picker>


