<div class="about_us_block">
  <div class="about_us_content">
    ООО «ТД Марафон» - многие годы является лидером по продаже профессиональной строительной химии и упаковочной пленки на территории Украины.
    Нашей продукции которым давно доверяют свою репутацию не только зарубежные, но и отечественные производители и профессионалы.
    Наши поставщики – это компании с многолетними традициями и опытом, компании, которым дорого их имя.
    Мы являемся региональным дилерами таких ведущих отечественных и зарубежных производителей современных
    строительных материалов как:
    <div class="about_us_brands">
      <div class="about_us_brand" *ngFor="let brand of brands">
        <div *ngIf="brand.official && brand.salesAreaId===2">
          - {{brand.name}}
        </div>
      </div>
    </div>
    А также упаковочных материалов:
    <div class="about_us_brands">
      <div class="about_us_brand" *ngFor="let brand of brands">
        <div *ngIf="brand.salesAreaId===1">- {{brand.name}}</div>
      </div>
    </div>

    Наши основные направления это: тепло- гидроизоляция, склеивание, герметизация, добавки в бетоны и строительные растворы,
    профессиональный инструмент.
  </div>
</div>

