<div class="main_content">
  <div class="main_content_left">
    <ul class="news_events_list">
      <li *ngFor="let news_unit of news; let i = index" (click)="changeCurrentNews(news_unit,i)" [class.active]="activeBlock===i">
        <div class="news_event_name">{{news_unit.name}}</div>
        <div class="news_event_short">{{news_unit.shortNews}}</div>
      </li>
    </ul>
  </div>
  <div class="main_content_right">
    <div *ngIf="currentNews">
      <app-news-content-unit [news]="currentNews"></app-news-content-unit>
    </div>
  </div>
</div>
