@import "../../../common";

.main_content_left{
  margin-right: 5px;
  .news_events_list{
    list-style: none;
    padding: 5px;
    .active{
      box-shadow: inset 0px 1px 2px 0px @main_left_side_list;
      border-radius: 3px;
    }
    li{
      margin-bottom: 5px;
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        transition: 0.5s;
        box-shadow: inset 0px 1px 2px 0px @main_left_side_list;
        border-radius: 3px;
      }
      .news_event_name{
        text-align: center;
        text-indent: 10px;
        font-family: 'Roboto', sans-serif;
        color: @main_left_side_list;
        &:hover {color: @admin_button_background}
        padding: 5px;
        box-sizing: border-box;
        font-weight: bold;
        text-transform: uppercase;
      }
      .news_event_short{
        font-family: 'Roboto', sans-serif;
        font-size: smaller;
        color: @main_left_side_list_short;
        text-indent: 10px;
        box-sizing: border-box;
      }
    }
  }
}

